# Copy this file to .env.local on each workstation and adjust if needed.
VITE_PM_IMAGE_BASE_URL=http://127.0.0.1:1111/new-imgs
VITE_PM_SOURCE_URL=https://opensheet.elk.sh/1l1CXHdge8_2F2ifjMY71f23DJ_98Ei2QNZ9rPdBd8jQ/pm
VITE_PM_SOURCE_TYPE=json
